/// Full screen toggle navigation
///
/// @param {Map} $args - Settings
@mixin toggle-navigation($args: ()) {
  $settings: map-merge((
    'bottom-space': 40px,
    'item': null,
    'height': null,
    'menu': null,
    'speed': 0.4s,
    'until': null,
  ), $args);

  @if not map-get($settings, 'menu') {
    @error '`menu` should be set in toggle-navigation() arguments.';
  }

  @if not map-get($settings, 'height') {
    @error '`height` should be set in toggle-navigation() arguments.';
  }

  $speed: map-get($settings, 'speed');

  @if map-get($settings, 'until') {
    $media-query: 'max-width: ' + map-get($settings, 'until');
  } @else {
    $media-query: 'min-width: 0px';
  }

  @include leuke-mixin($until) {
    height: map-get($settings, 'height');
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: height $speed cubic-bezier(0, 0, 0, 1);

    .navigation-open & {
      height: 100%;
    }

    #{map-get($settings, 'menu')} {
      bottom: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: map-get($settings, 'bottom-space');
      position: absolute;
      top: map-get($settings, 'height');
      transition: visibility 0s linear ($speed * 2);
      visibility: hidden;

      .navigation-open & {
        transition-delay: 0s;
        visibility: visible;
      }

      @if map-get($settings, 'item') {
        $max-items: 10;

        #{map-get($settings, 'item')} {
          opacity: 0;
          transform: scale(1.1) translateY(-20px);
          transition: opacity $speed ease-out, transform $speed ease-out;

          @for $i from 1 through $max-items {
            $base-delay: ($speed / 4);

            &:nth-child(#{$i}) {
              $item-delay: $base-delay + ($i * ($speed / 8));
              transition-delay: $item-delay, $item-delay;
            }
          }
        }

        .navigation-open & #{map-get($settings, 'item')} {
          opacity: 1;
          transform: none;
        }
      }
    }

    @at-root {
      body {
        margin-top: map-get($settings, 'height');

        &.navigation-open {
          overflow-y: hidden;
        }
      }
    }
  }
}
