/// Full screen toggle navigation
///
/// @param {Map} $args - Settings
@mixin toggle-navigation($args: ()) {
  $settings: map-merge((
    'background': null,
    'bottom-space': 80px,
    'height': null,
    'item': null,
    'menu': null,
    'speed': 0.4s,
    'until': null,
  ), $args);

  @if not map-get($settings, 'menu') {
    @error '`menu` should be set in toggle-navigation() arguments.';
  }

  @if not map-get($settings, 'height') {
    @error '`height` should be set in toggle-navigation() arguments.';
  }

  $speed: map-get($settings, 'speed');
  $wp-admin-bar: (
    0: 46px,
    782px: 32px,
  );

  @if map-get($settings, 'until') {
    $media-query: 'max-width: ' + map-get($settings, 'until');
  } @else {
    $media-query: 'min-width: 0px';
  }

  @media($media-query) {
    height: map-get($settings, 'height');
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: background $speed cubic-bezier(0, 0, 0, 1), height $speed cubic-bezier(0, 0, 0, 1);

    .admin-bar & {
      @each $width, $height in $wp-admin-bar {
        @media(min-width: $width) {
          top: $height;
        }
      }
    }

    .navigation-open & {
      @if map-get($settings, 'background') {
        background: map-get($settings, 'background');
      }

      height: 100%;
    }

    #{map-get($settings, 'menu')} {
      bottom: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: map-get($settings, 'bottom-space');
      position: absolute;
      top: map-get($settings, 'height');
      transition: visibility 0s linear ($speed * 2);
      visibility: hidden;

      .navigation-open & {
        transition-delay: 0s;
        visibility: visible;
      }

      @if map-get($settings, 'item') {
        $max-items: 12;

        #{map-get($settings, 'item')} {
          $base-delay: ($speed / 4);
          $speed-increase: ($speed / 8);

          opacity: 0;
          transform: scale(1.1) translateY(-20px);
          transition: opacity $speed ease-out, transform $speed ease-out;

          @for $i from 1 through ($max-items - 1) {
            &:nth-child(#{$i}) {
              $item-delay: $base-delay + ($i * $speed-increase);
              transition-delay: $item-delay, $item-delay;
            }
          }

          &:nth-child(n+#{$max-items}) {
            $item-delay: $base-delay + ($max-items * $speed-increase);
            transition-delay: $item-delay, $item-delay;
          }
        }

        .navigation-open & #{map-get($settings, 'item')} {
          opacity: 1;
          transform: none;
        }
      }
    }

    @at-root {
      html {
        &.navigation-open,
        &.navigation-open body {
          height: 100%;
          overflow-y: hidden;
        }
      }

      body {
        padding-top: map-get($settings, 'height');
      }
    }
  }
}
